{% extends "base.html" %}


{% block content %}


<form method="post">
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary">
              <p></p>
              <h3 class="text-center">Создание ученика</h3>

              {% csrf_token %}
            <div class="card-body">
              <div class="form-group">
                <label>Имя</label>
                  {{ form.first_name }}
              </div>
              <div class="form-group">
                <label>Фамилия</label>
                {{ form.last_name }}
              </div>
              <div class="form-group">
                <label>Отчество</label>
                {{ form.middle_name }}
              </div>
              <div class="form-group">
                <label>Почта</label>
                {{ form.email }}
              </div>
              <div class="form-group">
                <label>Дата рождения</label>
                {{ form.birthdate }}
              </div>
              <div class="form-group">
                <label>Класс</label>
                {{ form.grade }}
              </div>
              <div class="form-group">
                <label>Адресс</label>
                {{ form.address }}
              </div>
              <div class="form-group">
                <label>Пол</label>
                {{ form.gender }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
            <button type="submit" class="btn btn-success">Создать</button>
            <a href="{% url 'index' %}" class="btn btn-secondary">Выйти</a>
        </div>
      </div>
    </section>
</form>
{% endblock %}