{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">

            <!-- Profile Image -->

          </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->


    </section>
<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">

                <h3 class="profile-username text-center">{{ request.user.first_name}} {{ request.user.middle_name}} {{ request.user.last_name}}</h3>

                <p class="text-muted text-center"><Учитель></Учитель></p>

                <div class="card-body">
                    <strong><i class="fas fa-book mr-1"></i>Предмет</strong>
                    <p class="text-muted">{{ request.user.subject.name }} </p>
                    <p class="text-muted">{{ request.user.teacher.subject.name }} </p>
                    <hr>
                    <strong><i class="fas fa-map-marker-alt mr-1"></i>Номер телефона</strong>
                    <p class="text-muted">{{ request.user.phone }}</p>
                    <hr>
                </div>
                <a href="{% url 'user_update' request.user.id %}"><button type="button" class="btn btn-block bg-gradient-primary">Редактировать</button></a>
                <hr>
                <a href="{% url 'change_password' %}"><button type="button" class="btn btn-block bg-gradient-secondary">Сменить пароль</button></a>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->





          </div>
          <!-- /.col -->


            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->

    </section>




{% endblock %}